<!DOCTYPE html>
<html ng-app="test">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">


  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
      <script src="./bower_components/materialize-clockpicker/dist/js/materialize.clockpicker.js"></script>
      <link rel="stylesheet" href="./bower_components/materialize-clockpicker/dist/css/materialize.clockpicker.css">


  <script src="./app.js"></script>

<style>
.input-field{
  width:400px !important;
}
</style>
</head>
<body ng-controller="MainCtrl">
<h1>date/time picker sandbox</h1>


  <div class="input-field">
<label for="inputCreated">Input date</label>
<input ng-model="vm.date" input-date
    type="text"
    name="created"
    id="inputCreated"
    ng-model="currentTime"
    container=""
    format="dd/mm/yyyy"
    months-full="{{ month }}"
    months-short="{{ monthShort }}"
    weekdays-full="{{ weekdaysFull }}"
    weekdays-short="{{ weekdaysShort }}"
    weekdays-letter="{{ weekdaysLetter }}"
    disable="disable"
    min="{{ minDate }}"
    max="{{ maxDate }}"
    today="today"
    first-day="1"
    clear="clear"
    close="close"
    select-years="15"
    on-start="onStart()"
    on-render="onRender()"
    on-open="onOpen()"
    on-close="onClose()"
    on-set="onSet()"
    on-stop="onStop()" />

    </div>
date: {{vm.date}}

    <!-- <label for="input_starttime">Time</label>
    <input id="input_starttime" input-clock data-twelvehour="false" type="text"> -->
<div class="input-field">

    <div ng-model="vm.time"class="input-field col s12">
        <label for="timepicker">Time</label>
        <input id="timepicker" data-default="14:20:00" class="timepicker" type="time">
    </div>
  </div>
time: {{vm.time}}
<hr>
<input id="date" type="date">
<button ng-click="alert('shutp')">check it</button>
{{vm.dt}}
<hr>
<button ng-click=validateDate()>validate date</button>
<button ng-click="toUTC()">get utc</button>
<br>
utc:{{vm.utc}}




</body>
</html>
